<div class="container">
	<!-- heading row -->
	<div class="row heading">
		<div class="col-md-3">
			<button id="mainmenubtn" class="backbtn" type="button"></button>
		</div>
		<div class="col-md-6">
			<!-- heading title -->
			<h1 class="pagetwoheader">GAME NAME:</h1>
		</div>
		<div class="col-md-3">
			<!-- heading title -->
			<h2 class="pagetwoheader2">Friable Apples</h2>
		</div>
	</div>
	<div class="row">
		<!-- palce holder phrases -->
		<div class="col-md-12">
			<h3 class="pagetwoheader3">How can I study when i'm so destracted by:
				<span>
					<form method="post" action="/add">
						<input type="text" id="input_id" name="cow" value="" placeholder="Add word Here">
						<input type="submit"  value='' id="topgamesbtn" class="finishbtn">
					</form>
				</span></h3>
		</div>
	</div>
	<div class="row">
		<!-- palce holder back button -->
		<!-- <div class="col-md-3">
				<button class="backbtn" type="button"></button>
			</div> -->
		<!-- palce holder words -->
		<div class="col-md-7 words">
			{{!--
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button>
			<button class="placeholderbtn" type="button">Place Holder</button> --}}
		</div>
		<div class="col-md-2">
			<!-- palce holder finish button -->
			{{!-- <button id="skipbtn" class="skipbtn" type="button"></button> --}}
		</div>
		<div class="col-md-2">
			<!-- palce holder finish button -->
			{{!-- <button id="topgamesbtn" class="finishbtn" type="button"></button> --}}
		</div>
	</div>

</div>


</div>